<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Более подробное описание компании</h2>
                <hr class="light">
                <p class="text-faded">Тут можно более детально описать для клиента, все что считаешь нужным.
                  Какие вы охуенные, как давно этим занимаетесь и что на рынке вообще нет никого круче чем вы уже несколько десятков лет.</p>
                <a href="#services" class="page-scroll btn btn-default btn-xl">Наши услуги</a>
            </div>
        </div>
    </div>
</section>

